// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

// Global

* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $bg-clr;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.nav {
  display: flex;
  list-style: none;
  & a {
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 1em;
    color: $link-clr;

    &:hover {
      color: $link-hover-clr;
    }
  }
}

